/*
 * Globals
 */

/* Links */
/*
a,
a:focus,
a:hover {
  color: #fff;
}
*/

.img-m {
  max-width: 100%;
  width: 400px;
}

a {
    color: #63c0f5;
    text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {

  height: 100%;
  background:#151515 url("../images/bkg.png") 0 0;
/*
  color:#eaeaea;
*/
  color: #eaeaea;
  font-size:16px;
  line-height:1.5;
  font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace

}

body {
  display: -ms-flexbox;
  display: flex;
}

.cover-container {
  width:100%;
/*
  max-width: 1000px;
*/
}

.inner {
  width:90%;
  max-width: 1000px;
  margin: 0 auto;
}

/*
 * Header
 */
.masthead {
  width: 100%;
  margin-bottom: 2rem;
  border-bottom:1px dashed #b5e853;
  background:rgba(0,0,0,0.1);
  display: block;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
/*
  color: rgba(255, 255, 255, .5);
*/
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
  text-align: left !important;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/* hacker theme */
.highlight{
    color:#d0d0d0
}
.highlight table td{
    padding:5px
}
.highlight table pre{
    margin:0
}
.highlight .w{
    color:#d0d0d0
}
.highlight .err{
    color:#151515;
    background-color:#ac4142
}
.highlight .c,.highlight .cd,.highlight .cm,.highlight .c1,.highlight .cs{
    color:#888
}
.highlight .cp{
    color:#f4bf75
}
.highlight .o,.highlight .ow{
    color:#f4bf75
}
.highlight .p,.highlight .pi{
    color:#d0d0d0
}
.highlight .gi{
    color:#90a959
}
.highlight .gd{
    color:#ac4142
}
.highlight .gh{
    color:#6a9fb5;
    font-weight:bold
}
.highlight .k,.highlight .kn,.highlight .kp,.highlight .kr,.highlight .kv{
    color:#aa759f
}
.highlight .kc,.highlight .kt,.highlight .kd{
    color:#d28445
}
.highlight .s,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .sh,.highlight .sx,.highlight .s1{
    color:#90a959
}
.highlight .sr{
    color:#75b5aa
}
.highlight .si,.highlight .se{
    color:#8f5536
}
.highlight .nt,.highlight .nn,.highlight .nc,.highlight .no{
    color:#f4bf75
}
.highlight .na{
    color:#6a9fb5
}
.highlight .m,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .il,.highlight .mo,.highlight .mb,.highlight .mx{
    color:#90a959
}
.highlight .ss{
    color:#90a959
}



header h1{
    font-size:30px;
    line-height:1.5;
/*
    margin:0 0 0 -40px;
*/
    font-weight:bold;
    font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color:#b5e853 !important;
    text-shadow:0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(181,232,83,0.1),0 0 10px rgba(181,232,83,0.1);
    letter-spacing:-1px;
    -webkit-font-smoothing:antialiased;
}

header h2{
    font-size:18px;
    font-weight:300;
    color:#666;
    float:left; 
}

h1,h2,h3,h4,h5,h6{
    font-weight:normal;
    font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color:#b5e853;
    letter-spacing:-0.03em;
    text-shadow:0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(181,232,83,0.1),0 0 10px rgba(181,232,83,0.1)
}

code.highlighter-rouge {
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0px 3px;
    margin: 0px -3px;
    color: #aa759f;
    border-radius: 2px;
}
pre{
    background:rgba(0,0,0,0.9);
    border:1px solid rgba(255,255,255,0.15);
    padding:10px;
    font-size:16px;
    color:#b5e853;
    border-radius:2px;
    word-wrap:normal;
    overflow:auto;
    overflow-y:hidden
}

/* bs patch */

.card {
  background-color:#2f4060;
}

.card p{
  color: #98acd3;
}
