---
layout: bs4
---
{% if page.theme-img %}
	<img width = "100%" src="{{page.theme-img}}" class="img-fluid" alt="Responsive image">
{% endif %}
	<br>
	<p class="text-light">{{content}}</p>

{% if page.cat != "about" %}
	<div class="card-columns">
		{% for post in site.posts %}
		  {% if post.categories contains page.cat %}
		<div class="card">
		<div class="card-body">
		  <h5 class="card-title"><a href = "{{post.url}}">{{ post.title }}</a></h5>
		  <p class="card-text">{% if post.summery %}{{post.summery}}{% else %}{{post.content | slice: 0, 100}}{% endif %}</p>
		  <p class="card-text"><small class="text-muted">{{post.date | date_to_string}}</small></p>
		</div>
		</div>
			  {% endif %}
			{% endfor %}
	</div>
{% endif %}
